# GitHub Personal Access Token (PAT)
# Required scopes: read:user
# Generate one at https://github.com/settings/tokens
#FAST_LANE_TTL_MINUTES=5
#SLOW_LANE_TTL_MINUTES=60
GITHUB_TOKEN=your_github_token_here
GITHUB_TOKEN_SECONDARY=your_github_token_here